__pycache__
*.pyc
.DS_Store
wandb
logs
venv
data_map.txt
faiss.index
sqlite.db
experiments
question_generator
archive
.env
demo/english_activity.csv
demo/db/
src/db
scripts
.env.aws
*.pkl
secrets.toml
secrets.*.toml
