langchain==0.0.348
langchain-core==0.0.12
fastapi
backoff
pathlib
openai==1.3.7
python-dotenv
wandb
uvicorn[standard]
streamlit==1.26.0
streamlit-sortables==0.2.0
ipdb
tiktoken==0.4.0
openapi-schema-pydantic==1.2.4
pydantic==1.10.10
gptcache==0.1.40
redis
redis_om